body {
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

li {
  list-style-type: none;
}

/* NAVBAR */
.logo {
  margin: 0.2rem;
  padding: 0.2rem;
  border-radius: 50%;
}
.Navbar {
  background-color: #e2ccd0;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.containerNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.2rem;
  margin-right: 0.3rem;

  color: black;
}

.imgNav {
  height: 25px;
  width: 25px;
}
.NavList {
  text-align: center;
  color: black;
}

.NavList:hover {
  color: #d6a25b;
}

/*Search Bar*/
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  margin: 5rem;
  position: relative;
}
.searchBar {
  border: 2px solid #e2ccd0;
  width: 50%;
  border-radius: 20px;
  height: 30px;
  padding: 10px;
  font-size: 16px;
}
.searchBar:hover,
.searchBar:focus {
  border: 2px solid #df8293;
}
.loop {
  position: absolute;
  top: 50%;
  right: 378px;
  transform: translateY(-50%);
  color: #888;
  font-size: 18px;
}

/*Filter category and type*/
.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
  margin: 2rem;
}

.dropdown-menu {
  border: 2px solid #e2ccd0;
  border-radius: 15px;
  position: absolute;
  z-index: 10; /* Ensure the dropdown menu is above other elements */
  background-color: white;
  padding: 1rem;
}


/*Recipe Card*/

.CardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 0.2rem;
  padding: 0.5rem;
}
.card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.card-time {
  color: #888;
  font-size: 0.9rem;
}

.btnDetails {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #65558f;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}
.btnDetails img {
  margin-left: 5px;
  border-radius: 15px;
}
.card {
  position: relative;
  height: 400px;
}

.btnDetails {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

/* Recipe Detail */

.detailContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
}

.imgDetail {
  width: 50%;
  height: auto;
  gap: 0.5rem;
  margin: 0.2rem;
  width: 40%;
  padding: 0.2rem;
  border-radius: 15px;
}
.infoRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 0.2rem;
  width: 40%;
  padding: 0.2rem;
}
.list {
  gap: 0.3rem;
  text-align: left;
}

.desc {
  margin: 3.2rem;
  padding: 0.2rem;
}
.additionalInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.additionalInfo ul {
  width: 40%;
}

.title {
  text-align: center;
  padding: 2rem;
  margin: 0.2rem;
}

/*Star icon on the image for favorite*/

.star-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  width: 50px;
  height: 50px;
  color: #ffcc00; /* Star color */
  transition: transform 0.3s, color 0.3s;
}

.star-button:hover .star-icon {
  color: #ff9900; /* Star color on hover */
  transform: scale(1.1);
}

.star-button:active .star-icon {
  transform: scale(0.9);
}

/*MEDIA QUERIES */
@media screen and (max-width: 560px) {
  .loop {
    right: 121px;
  }
}
@media (min-width: 561px) and (max-width: 660px) {
  .loop {
    right: 146px;
  }
}
@media (min-width: 661px) and (max-width: 830px) {
  .loop {
    right: 185px;
  }
}
@media (min-width: 831px) and (max-width: 960px) {
  .loop {
    right: 214px;
  }
}
@media (min-width: 961px) and (max-width: 1100px) {
  .loop {
    right: 260px;
  }
}

@media (min-width: 1101px) and (max-width: 1400px) {
  .loop {
    right: 260px;
  }
}
